---
import  { Section }  from '../base/Section.tsx'
import { getCollection } from "astro:content";

const htmlGuidelines = await getCollection("HTML");
---

<section
  id="html"
  class="max-w-screen-md mx-auto my-24 text-gray-900 dark:text-white"
>
  <h2 class="text-4xl mb-4">HTML Guidelines</h2>

  <Section accordionItems={htmlGuidelines}  client:idle />

  <h3 class="text-3xl mb-4  mt-10">Aria Rules</h3>
  <ol class="mb-8 list-decimal pl-4 ml-2">
    <li class="my-4 pl-4">
      Don't use ARIA unless really necessary! Prefer semantic HTML tags.
    </li>
    <li class="my-4 pl-4">Do not add (unnecessary) ARIA.</li>
    <li class="my-4 pl-4">Always enable keyboard navigation.</li>
    <li class="my-4 pl-4">Don't hide focusable elements.</li>
    <li class="my-4 pl-4">Use accessible names for interactive elements.</li>
  </ol>
</section>
