---
import  { Section }  from '../base/Section.tsx'
import { getCollection } from "astro:content";

const pdfGuidelines = await getCollection("PDF");
---

<section
  id="pdf"
  class="max-w-screen-md mx-auto my-24 text-gray-900 dark:text-white"
>
  <h2 class="text-4xl mb-4">PDF Guidelines</h2>
  
  <Section accordionItems={pdfGuidelines}  client:idle />

  <h3 class="text-3xl mb-4">What makes a PDF accessible?</h3>
  <ul class="mb-8 list-disc pl-4 ml-2">
    <li class="my-4 pl-4">
        The document is designed clearly and structured.
    </li>
    <li class="my-4 pl-4">The content is focused on conveying information</li>
    <li class="my-4 pl-4">There is no information included that is solely presented visually (e.g. images that try to convey information without additional explanation).</li>
    <li class="my-4 pl-4">Navigation (including search) is possible within the text .</li>
    <li class="my-4 pl-4">Sufficient contrast for text and background colors</li>
    <li class="my-4 pl-4">Use a larger font size (18pt or larger), sans serif fonts and enough white space.</li>
    <li class="my-4 pl-4">Make videos accessible to people with visual or hearing impairments</li>
  </ul>
</section>
