---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "@/assets/style/base.css";
import { Button } from "@/components/ui/button";
import Hero from "@/components/base/Hero.astro";
---

<Layout title="A11y Guidelines / L5L">
  <main id="app">
    <Hero />
  </main>
</Layout>

<style>
  #app {
    margin: 0 auto;
    padding: 2rem;
  }
</style>
