---
import { Badge } from "@/components/ui/badge";
---

<div
  class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
>
  <h1
    class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    Web A11y Practical Guidelines
  </h1>
  <p
    class="mb-7 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
  >
    Welcome, this page serves as resource for learning and implementing web
    accessibility (a11y) guidelines. You can find a practical overview of
    guidelines and implementation for:
  </p>
  <Badge>HTML</Badge>
  <Badge>CSS</Badge>
  <Badge>JavaScript</Badge>
  <Badge>PDF</Badge>
</div>
