---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Basic Web A11y Guidelines for HTML, CSS and JavaScript"
    />
    <meta name="author" content="L5L" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>